* {
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

section .container > .row > div {
    min-height: 50px;
    background-color: blue;
    border: 1px white solid;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    margin: 15px 0;
}
.nested {
    justify-content: flex-start;
    padding: 15px;
}

.green {
    min-height: 50px;
    background-color: greenyellow;
    border: 1px white solid;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;

}

.offset .container > .row > div {
    min-height: 50px;
    background-color: blue;
    border: 1px white solid;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}